<!DOCTYPE html>
<html>
  <head>
    <title>Bitmatk Node Map</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js"></script>
  </head>

  <body>
    <h3>Bitmatk Node Map</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <!-- Replace the value of the key parameter with your own API key. -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoL8R7nee7QOi-hrEq4mTn1909AQ70JhU&callback=initMap">
    </script>
  </body>
</html>